<include file="Public/header" />
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 问卷题目管理 <span class="c-gray en">&gt;</span> 添加问卷题目 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form class="form form-horizontal" method="post" id="ac_from"  enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$singleRow.id}" />

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>问卷问题：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" placeholder="问卷问题" name="question" id="question" value="{$singleRow.question}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>题库类型：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <select name="type" id="type" class="select">
                    <volist name="options" key='mykey' id="item">
                        <option value="{$mykey}">{$item}</option>
                    </volist>
                </select>
            </div>
        </div>



        <div class="row cl" id="answerNext">
            <label class="form-label col-xs-4 col-sm-3" style="margin-top: 15px;"><span class="c-red">*</span>问卷答案：</label>
            <div class="formControls col-xs-8 col-sm-8">
            	<template v-for="(item,index) in list">
            		<div class="answer_div" :key="item.current">
	            		<input type="text"  v-bind:name="gernerateId('answer_',item.current)" class="input-text" style="width: 60%;">
		            	<input type="radio" v-bind:name="gernerateId('result_',item.current)" value="1"  :id="gernerateId('is_on_no_',item.current)" checked ><label     v-bind:for="gernerateId('is_on_no_',item.current)">否</label>
		            	<input type="radio" v-bind:name="gernerateId('result_',item.current)" value="2"  :id="gernerateId('is_on_yes_',item.current)"><label v-bind:for="gernerateId('is_on_yes_',item.current)">是</label>
		            	<span class="plus-add" v-on:click="addPush()" v-if="item.current ==1" ><i class="icon-plus-sign-alt pointer"></i></span>
		            	<span class="plus-minus" v-on:click="minusPush(item.current)" v-else><i class="icon-minus-sign pointer"></i></span>
            		</div>
            	</template>
            	
            	
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="button" name="tj_quest" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>

    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/js/admin-customer.js"></script>