<include file="Public/header" />
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 问题管理 <span class="c-gray en">&gt;</span> 全部问题 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">

    </div>
    <br>
    <table class="table table-border table-bordered table-bg">
        <thead>

        <tr class="text-c">
            <th width="20">ID</th>
            <th width="100">问题</th>
            <th width="80">问题类型</th>
            <th width="180">添加时间</th>
            <th width="80">操作</th>
        </tr>
        </thead>


        <tbody id="news_option">
        <!-- 遍历 -->
        <volist name="list" id="v" empty="暂时没有数据">
            <tr class="text-c">
                <td>{$v.id}</td>
                <td>{$v.question}</td>
                <td>{$v.type}</td>
                <td>{$v.created|date='Y-m-d H:i:s',###}</td>
                <td>
                    <a href="{:U('quest/add')}?id={$v.id}">修改</a>                  
                </td>
            </tr>
        </volist>
        <!-- 遍历 -->
        </tbody>
        <tr>
            <td colspan="10" class="td_2">
                {$page_index}
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function product_option(page){
        var brand_name = $('#name').val();
        location="{:U('index')}";
    }
</script>
<include file="Public/footer" />