<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">

        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 主题管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="添加主题" data-href="{:U('Product/add')}" href="{:U('Product/add')}" target="iframe">添加主题</a>
                    </li>
                    <li>
                        <a data-title="主题管理" data-href="{:U('Product/index')}" href="{:U('Product/index')}" target="iframe">主题管理</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 问题管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="添加问题" data-href="{:U('Quest/add')}" href="{:U('Quest/add')}" target="iframe">添加问题</a>
                    </li>
                    <li>
                        <a data-title="问题管理" data-href="{:U('Quest/index')}" href="{:U('Quest/index')}" target="iframe">问题管理</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 记录管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="问题管理" data-href="{:U('Record/index')}" href="{:U('Record/index')}" target="iframe">问题管理</a>
                    </li>
                    <li>
                        <a data-title="抽奖管理" data-href="{:U('Record/lottery')}" href="{:U('Record/lottery')}" target="iframe">抽奖管理</a>
                    </li>
                </ul>
            </dd>
        </dl>
       

        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('User/index')}" data-title="会员管理" href="{:U('User/index')}" target="iframe">会员管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                 <!--    <li><a data-href="{:U('Adminuser/add')}" data-title="添加管理员" href="{:U('Adminuser/add')}" target="iframe">添加管理员</a></li>
                    <li><a data-href="{:U('Adminuser/adminuser')}" data-title="管理员管理" href="{:U('Adminuser/adminuser')}" target="iframe">管理员管理</a></li> -->
                    <li>
                        <a data-title="奖项配置" data-href="{:U('Record/config')}" href="{:U('Record/config')}" target="iframe">奖项配置</a>
                    </li>
                </ul>
            </dd>
        </dl>

    </div>

</aside>