<include file="Public/header" />
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>记录<span class="c-gray en">&gt;</span> 奖项配置<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>


<form action="" method="post" class="form form-horizontal" id="form_tj">
	<volist name="prizeInfo" id="item">
		<input type="hidden" name="id[]" value="{$item.id}">
		<div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">奖项名称：</label>
            <div class="formControls col-xs-8 col-sm-3">
               {$item.prize_name}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">奖项概率：</label>
            <div class="formControls col-xs-8 col-sm-3">
              <input type="text" class="input-text" name="probility[]" value="{$item.probility}">
              <label>1~99 (所有加起来是100)</label>
            </div>
        </div>
         <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">奖项数量：</label>
            <div class="formControls col-xs-8 col-sm-3">
              <input type="text" class="input-text" name="limit_number[]" value="{$item.limit_number}">
              <label>0 不限制</label>
            </div>
        </div>
	</volist>
	<div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius btn-config" type="button" name="tj_quest" value="提交">
            </div>
        </div>
</form>
<script type="text/javascript">
	jQuery(function($){
		$('.btn-config').click(function(){
			$.post($('#form_tj').attr('action'),$('#form_tj').serialize(),function(d){
				if(d.error==0){
					location.reload();
				}
			},'post');
			return false;
		})
	})
</script>
<include file="Public/footer" />