<include file="Public/header" />
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 主题管理 <span class="c-gray en">&gt;</span> 添加主题 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form class="form form-horizontal" method="post" id="ac_from"  enctype="multipart/form-data">
        <input type="hidden" name="submit" value="true" />
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>活动主题：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" placeholder="活动主题" name="theme_title" id="theme_title" value="{$pro_allinfo.theme_title}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否开启：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="radio"  placeholder="开启或者关闭" checked name="is_open" id="is_open_1" value="1"><label for="is_open_1">开启</label>
                <input type="radio" style="margin-left: 15px;"  placeholder="开启或者关闭" <?=$pro_allinfo['is_open']==2?'checked':''?> name="is_open" id="is_open_2" value="2"><label for="is_open_2">关闭</label>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>活动开始时间：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input id="startDate" type="text" class="input-text Wdate" placeholder="活动开始时间"  name="beg_time" onFocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH',minDate:'%y-%M-{%d}',readOnly:true});"   value="<notempty name
                ='pro_allinfo.beg_time'>{$pro_allinfo.beg_time|date='Y-m-d H',###}</notempty>" />
 
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>活动结束时间：</label>
            <div class="formControls col-xs-8 col-sm-3">
               <input id="endDate" type="text" class="input-text Wdate" placeholder="活动结束时间" name="end_time" onFocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH',minDate:'#F{$dp.$D(\'startDate\',{d:3});}',readOnly:true});" readonly  value="<notempty name
                ='pro_allinfo.end_time'>{$pro_allinfo.end_time|date='Y-m-d H',###}</notempty>" /> 
              
               
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邀请码：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" placeholder="邀请码" name="invite_code" id="invite_code" value="{$pro_allinfo.invite_code}">
                <span style="color:red;font-size: 12px;">&nbsp;&nbsp;</span>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="button" name="submit" onclick="ac_from();" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input type="hidden" name="id" id='id' value="{$pro_allinfo.id}">
            </div>
        </div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->

<script>
    //图片删除
    function del_img(img,obj){
        var pro_id = $('#pro_id').val();
        if (confirm('是否确认删除？')) {
            $.post('{:U("img_del")}',{img_url:img,pro_id:pro_id},function(data){
                if(data.status==1){
                    $(obj).parent().remove();
                    return false;
                }else{
                    alert(data.err);
                    return false;
                }
            },"json");
        };
    }

    function ac_from(){
        var theme_title=$("input[name='theme_title']"),
            beg_time =$("input[name='beg_time']"),
            end_time =$("input[name='end_time']"),
            invite_code =$("input[name='invite_code']");
        if(theme_title.val()==""){
            layer.msg('活动主题名称不能为空');
            return false;
        }
        if(beg_time.val()==""){
            layer.msg('活动主题开始时间不能为空');
            return false;
        }
        if(end_time.val()==""){
            layer.msg('活动主题结束时间不能为空');
            return false;
        }
        if(invite_code.val()==""){
            layer.msg('邀请码不能为空');
            return false;
        }
        $.post("{:U('Product/add')}",$('#ac_from').serialize(),function(obj){
            if(obj.error==0){
                location.href="{:U('Product/index')}";
            }else{
                layer.msg(obj.message);
            }
        },'json');
    }   


</script>

</body>
</html>